#jinja2: lstrip_blocks: True, trim_blocks: True
[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network.target network-online.target
Wants=network-online.target

[Service]
User={{ __etcd_user }}
Type=notify
# see possible cmdline options:
#   * https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/configuration.md
ExecStart={{ __etcd_binary }} \
    --advertise-client-urls https://{{ etcd_node_private_ip }}:{{ __etcd_listen_client_port }} \
    --cert-file={{ __etcd_pki_server_cert_file }} \
    --client-cert-auth \
    --data-dir={{ __etcd_data_dir }} \
    --election-timeout=5000 \
    --heartbeat-interval=500 \
    --initial-advertise-peer-urls https://{{ etcd_node_private_ip }}:{{ __etcd_listen_peer_port }} \
    --initial-cluster {{ _etcd_initial_cluster }} \
    --initial-cluster-state new \
    --initial-cluster-token etcd-cluster-0 \
    --key-file={{ __etcd_pki_server_key_file }} \
    --listen-client-urls https://{{ etcd_node_private_ip }}:{{ __etcd_listen_client_port }},https://127.0.0.1:{{ __etcd_listen_client_port }} \
    --listen-peer-urls https://{{ etcd_node_private_ip }}:{{ __etcd_listen_peer_port }} \
    --logger=zap \
    --log-level="warn" \
    --name={{ etcd_node_name }} \
    --peer-cert-file={{ __etcd_pki_peer_cert_file }} \
    --peer-client-cert-auth \
    --peer-key-file={{ __etcd_pki_peer_key_file }} \
    --peer-trusted-ca-file={{ __etcd_pki_ca_cert_file }} \
    --trusted-ca-file={{ __etcd_pki_ca_cert_file }}
TimeoutStartSec=600
TimeoutStopSec=60
Restart=always
RestartSec=10s
KillMode=process
LimitNOFILE=65536

# see how to avoid some issues when etcd is running on slow HDD:
#   * https://github.com/etcd-io/etcd/blob/master/Documentation/tuning.md
#   * https://michael.stapelberg.ch/posts/2012-09-23-systemd-ionice/
#   * https://www.freedesktop.org/software/systemd/man/systemd.exec.html

# Sets the default nice level (scheduling priority) for executed processes. Takes an integer
# between -20 (highest priority) and 19 (lowest priority).
Nice=-10
# Sets the I/O scheduling class for executed processes. Takes an integer between 0 and 3 or one of the strings 'none',
# 'realtime', 'best-effort' or 'idle'. If the empty string is assigned to this option, all prior assignments to both
# `IOSchedulingClass=` and `IOSchedulingPriority=` have no effect.
IOSchedulingClass=best-effort
# Sets the I/O scheduling priority for executed processes. Takes an integer between 0 (highest priority) and 7 (lowest
# priority). The available priorities depend on the selected I/O scheduling class (see above). If the empty string
# is assigned to this option, all prior assignments to both `IOSchedulingClass=` and `IOSchedulingPriority=` have no
# effect.
IOSchedulingPriority=0

[Install]
WantedBy=multi-user.target
Alias=etcd.service
